In [1]:
from data.make_dummies import make_dummy_csvs
from analytics import active_users_by_region
from tools import active_users_by_region_tool
import pandas as pd

In [6]:
users = pd.read_csv("data/raw/users.csv")
orders=  pd.read_csv("data/raw/orders.csv")
dct=  active_users_by_region(users, "2024-06-01", "2024-06-30")

In [7]:
orders

     order_id  user_id  order_date  order_amount     status
0           1        1  2024-06-22       4537.44  delivered
1           2        1  2024-06-22       1666.36       paid
2           3        1  2024-06-14       3946.16   returned
3           4        1  2024-06-24       3320.37    shipped
4           5        2  2024-06-04       3710.95       paid
..        ...      ...         ...           ...        ...
245       246       98  2024-06-22       3478.72  delivered
246       247       99  2024-06-22       2363.83       paid
247       248       99  2024-06-25       1012.18  delivered
248       249       99  2024-06-06       1774.61   returned
249       250       99  2024-06-24       2871.20    shipped

[250 rows x 5 columns]

In [5]:
active_users_by_region_tool.invoke({"df_users": users, "start_date": "2024-06-01", "end_date": "2024-06-20"})

{'Moscow': 17,
 'Nizhny Novgorod': 1,
 'Novosibirsk': 6,
 'Omsk': 1,
 'Other': 1,
 'Saint Petersburg': 14,
 'Samara': 3,
 'Yekaterinburg': 4}